/*Projects Css*/

.careerContents {
  margin-top: 1rem;
  padding: 8rem 8rem 20rem;
  display: flex;
  flex-direction: column;
}

.wrapper-career {
  position: relative;
  display: flex;
  height: 4rem;
  font-weight: bold;
  font-size: 5rem;
  text-shadow: 6px 5px 0px rgba(125, 151, 184, 0.99),
    7px 6px 0px rgba(125, 151, 184, 0.99), 7px 6px 0px rgba(125, 151, 184, 0.99);
}

.wrapper-career::after {
  margin-left: 3rem;
  content: "in my career.";
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 0.1rem #000000;
  top: -0.4rem;
  left: -0.4rem;
}

.box-wrapper {
  width: 100%;
  display: inline-block;
}

#box {
  width: 40vw;
  border-style: solid;
  border-width: 0.7px;
  border-color: #7d97b8;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem 0;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  float: right;
}

#box:hover {
  box-shadow: 10px 14px 0 rgba(125, 151, 184, 0.99),
    10px 10px 0 rgba(125, 151, 184, 0.99);
  transform: translateY(-10px);
}

#box * {
  padding: 10px;
}

#box .heading {
  color: rgba(125, 151, 184, 0.99);
  font-weight: bold;
  text-decoration: underline;
  font-size: 3vh;
}

#box .data {
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  color: #666;
}

#box .texts {
  font-size: 1.7vh;
  line-height: 18px;
}
