/*Projects Css*/

.wrapper-career {
  position: relative;
  display: flex;
  height: 4rem;
  font-weight: bold;
  font-size: 5rem;
  text-shadow: 6px 5px 0px rgba(125, 151, 184, 0.99),
    7px 6px 0px rgba(125, 151, 184, 0.99), 7px 6px 0px rgba(125, 151, 184, 0.99);
}

.wrapper-career::after {
  margin-left: 3rem;
  content: "in my career.";
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 0.1rem #000000;
  top: 1rem;
  left: -0.4rem;
}

.careerContents {
  box-sizing: border-box;
  overflow-x: hidden;
  margin-top: 2rem;
  border: 1px solid #7d97b8;
}

.careers {
  width: inherit;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-wrapper {
  width: inherit;
  padding: 1rem;
}

.box-wrapper {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box-right{
  margin-left: 30rem;
}

.box-left{
  margin-right: 30rem;
}

#box {
  min-width: 45rem;
  /*margin-bottom: 3rem;*/
  background-color: #FFF;
  border: 0.7px solid #3D4856;
  border-radius: 0.8rem;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

#box:hover {
  box-shadow: 10px 14px 0 #3D4856,
    10px 10px 0 #3D4856;
  transform: translateY(-10px);
}

#box * {
  padding: 10px;
}

#box .heading {
  color: #3D4856;
  font-weight: bold;
  font-size: 4vh;
  position: relative;
}

#box .date {
  display: flex;
  flex-direction: column;
  font-size: 2vh;
}

#box .contents {
  font-size: 1.7vh;
  line-height: 18px;
}

#box .skills {
  display: flex;
  margin: 0.5rem 0;
}

#box .skills .skill {
  height: 2rem;
  line-height: 2rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border:1px solid #3D4856;
  border-radius: 0.5rem;
}

#box .skills .skill:not(:first-child) {
  margin-left: 0.5rem;
}

#box .contents{
  /*background-color: #F0E9E1;*/
}

/*
.dot {
  width: 2rem;
  height: 2rem;
  background-image: 
    radial-gradient(rgb(128, 122, 166) 11%, transparent 11%),
    radial-gradient(rgb(128, 122, 166) 11%, transparent 11%);
    background-position: 0px 0px, 12px 12px;
    background-size: 22px 22px;
  background-color: #FFF;
}*/
