/*Project Css*/
.container-scene4 {
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

.grid-paper {
  background-color: #f6f6f6;
  background-image: linear-gradient(
      90deg,
      #cdcccc 0px,
      #cdcccc 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      #cdcccc 0px,
      #cdcccc 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      transparent 0px,
      transparent 5px,
      #f6f6f6 5px,
      #f6f6f6 95px,
      transparent 95px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      #e0e0e0 99px,
      #e0e0e0 100px
    ),
    linear-gradient(
      90deg,
      transparent 0px,
      transparent 5px,
      #f6f6f6 5px,
      #f6f6f6 95px,
      transparent 95px,
      transparent 100px
    ),
    linear-gradient(
      transparent 0px,
      transparent 1px,
      #f6f6f6 1px,
      #f6f6f6 99px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(#cdcccc, #cdcccc);
  background-size: 100px 100%, 100% 100px, 100% 10px, 10px 100%, 100% 100px,
    100px 100%, 100px 100%, 100px 100px, 100px 100px;
}

.wrapper-header-project {
  width: 100%;
  height: 15%;
  margin: 0 auto;
}

.header-project {
  font-size: 3rem;
  color: #ffffff;
  -webkit-text-stroke: 1.5px #4a6483;
  margin-left: 3rem;
}

.shadow {
  text-shadow: 8px 5px 0px #4a6483;
}

/* projects 본문 */
.wrapper-project {
  height: 35.5rem;
  border-left: 1.5px solid #7d97b8;
  border-right: 1.5px solid #7d97b8;
  border-bottom: 1.5px solid #7d97b8;
}

.container-project {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
}

.container-project .projects {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}

.container-project .projects::-webkit-scrollbar {
  display: none;
}

.container-project .projects:not(:last-child) {
  border-right: 1.5px solid #7d97b8;
}

.wrapper-title {
  font-size: 0.5rem;
  width: 100%;
  height: 150px;
}

.wrapper-title:not(:last-child) {
  border-bottom: 1.5px solid #7d97b8;
}

.title {
  width: 100%;
  position: relative;
  top: 50px;
  text-align: center;
  color: transparent;
  font-size: 2rem;
  font-weight: bolder;
  -webkit-text-stroke: 1px #4a6483;
}

.title:hover {
  color: #4a6483;
  -webkit-text-stroke: 1px #ffffff;
}

.items {
  width: 100%;
  height: 100%;
  padding: 0 auto;
}

.item {
  padding: 3rem;
  color: #4a6483;
}

.date {
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem 0;
}

.item h3 {
  margin: 2rem 0 0 0;
  text-align: left;
  font-size: 1.3rem;
}

.wrapper-pin {
  width: 100%;
  display: flex;
}

.wrapper-pin .pin {
  width: 100%;
  height: 2px;
  margin: 0.3rem 0.5rem;
  background-color: #a0acbd;
}

.about {
  margin: 1rem;
  text-align: left;
  font-size: 1.2rem;
}

.background-dot {
  width: 100%;
  height: 3rem;
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(10 * 1px) calc(10 * 1px);
}

.skills {
  display: flex;
  justify-content: left;
  margin: 1rem;
}

.skills .skill {
  height: 2rem;
  line-height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #3d4856;
  border-radius: 0.5rem;
}

.skills .skill:not(:first-child) {
  margin-left: 0.5rem;
}

.contents {
  border: 1.5px solid #7d97b8;
  white-space: pre-line;
  padding: 1rem;
  margin: 2rem 0 0 0;
  line-height: 230%;
  font-size: 1.1rem;
  text-align: left;
}

.content span {
  margin-left: 1.2rem;
}
