/*Header Css*/

.global-nav {
  position: fixed;
  height: 44px;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  margin: 8px;
  z-index: 10000;
  border-style: solid;
  border-width: 1px;
  border-color: #7d97b8;
  background-color: #f9f0e0;
  opacity: 100;
}

.global-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.global-nav-item {
  font-size: 1.1rem;
  color: #7d97b8;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #7d97b8;
  transition: all 0.5s;
}

a:before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #7d97b8;
  transition: all 0.5s;
}

a:hover:after {
  width: 50%;
}

a:hover:before {
  width: 50%;
}
