/*Strength Css*/
a {
  text-decoration: none;
}

ul {
  width: 100%;
  height: 100%;
  padding: 0;
}

ul li {
  width: 50%;
  height: 100%;
  list-style: none;
  float: left;
  margin: 0;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1rem;
  color: #000000;
}

.title {
  font-size: 5rem;
  color: #ffffff;
  -webkit-text-stroke: 1.5px #7d97b8;
}

.shadow {
  text-shadow: 10px 8px 0px rgba(125, 151, 184, 0.99);
}

.grid-paper {
  background-color: #f6f6f6;
  background-image: linear-gradient(
      90deg,
      #cdcccc 0px,
      #cdcccc 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      #cdcccc 0px,
      #cdcccc 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      transparent 0px,
      transparent 5px,
      #f6f6f6 5px,
      #f6f6f6 95px,
      transparent 95px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      #e0e0e0 99px,
      #e0e0e0 100px
    ),
    linear-gradient(
      90deg,
      transparent 0px,
      transparent 5px,
      #f6f6f6 5px,
      #f6f6f6 95px,
      transparent 95px,
      transparent 100px
    ),
    linear-gradient(
      transparent 0px,
      transparent 1px,
      #f6f6f6 1px,
      #f6f6f6 99px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(#cdcccc, #cdcccc);
  background-size: 100px 100%, 100% 100px, 100% 10px, 10px 100%, 100% 100px,
    100px 100%, 100px 100%, 100px 100px, 100px 100px;
}

.strength-wrapper {
  height: 88vh;
}

.strength-item {
  width: 100%;
}

.skill {
  font-size: 0.9rem;
  width: 100%;
  height: 12.2%;
  text-align: center;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 0.7px;
  border-color: #7d97b8;
}

.skill-1 {
  border-top-style: solid;
  border-width: 0.7px;
  border-color: #7d97b8;
}

.skill-content {
  width: 100%;
  height: 86.1%;
  text-align: center;
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 0.7px;
  border-color: #7d97b8;
  display: table;
}

.skill-content div {
  height: 100%;
  width: 100%;
  display: table-cell;
  border-right-style: solid;
  border-width: 0.7px;
  border-color: #7d97b8;
  vertical-align: middle;
  font-size: 1.2rem;
}

.skill h1 {
  color: #ffffff;
  font-size: 4rem;
  -webkit-text-stroke: 1px #7d97b8;
  margin-block-start: 0;
}

.skill h1:hover {
  color: rgba(125, 151, 184, 0.59);
  -webkit-text-stroke: 1px #ffffff;
}
