@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@400;900&family=Yeon+Sung&display=swap");

html {
  font-family: "Noto Sans KR";
  font-size: 14px;
}

#body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  width: 100%;
  height: 100%;
  padding: 0;
}

ul li {
  width: 50%;
  height: 100%;
  list-style: none;
  float: left;
  margin: 0;
}

.global-nav {
  position: fixed;
  width: 95%;
  height: 44px;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #7d97b8;
  opacity: 100;
}

.global-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.global-nav-item {
  font-size: 1.1rem;
  color: #7d97b8;
}

a {
  display: inline-block;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #7d97b8;
  transition: all 0.5s;
}

a:before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #7d97b8;
  transition: all 0.5s;
}

a:hover:after {
  width: 50%;
}

a:hover:before {
  width: 50%;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.local-nav-links a {
  font-size: 0.8rem;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.scroll-section {
  padding-top: 10vh;
}

.section-0-frame {
  border-style: solid;
  border-width: 1px;
  border-color: #7d97b8;
}

.greeting-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 88vh;
}

.strength-wrapper {
  height: 88vh;
}

.strength-item {
  width: 100%;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin-bottom: 5px;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.main-message small {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}

/*scroll-section-1*/

.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1rem;
  color: #000000;
}

.description .sub {
  margin: 0.5 auto;
  font-size: 2.5rem;
  font-style: bold;
  color: #000000;
}

.description strong {
  margin: 0em 0.2em;
  font-size: 3rem;
  color: #000000;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.desc-messae {
  width: 50%;
  font-weight: bold;
}

.pin {
  width: 20vw;
  height: 1px;
  background-color: rgb(29, 29, 31);
}

.grid-paper {
  background-color: #f6f6f6;
  background-image: linear-gradient(
      90deg,
      #cdcccc 0px,
      #cdcccc 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      #cdcccc 0px,
      #cdcccc 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      transparent 0px,
      transparent 5px,
      #f6f6f6 5px,
      #f6f6f6 95px,
      transparent 95px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      #e0e0e0 0px,
      #e0e0e0 1px,
      transparent 1px,
      transparent 99px,
      #e0e0e0 99px,
      #e0e0e0 100px
    ),
    linear-gradient(
      90deg,
      transparent 0px,
      transparent 5px,
      #f6f6f6 5px,
      #f6f6f6 95px,
      transparent 95px,
      transparent 100px
    ),
    linear-gradient(
      transparent 0px,
      transparent 1px,
      #f6f6f6 1px,
      #f6f6f6 99px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(#cdcccc, #cdcccc);
  background-size: 100px 100%, 100% 100px, 100% 10px, 10px 100%, 100% 100px,
    100px 100%, 100px 100%, 100px 100px, 100px 100px;
}

.skill {
  font-size: 0.9rem;
  width: 100%;
  height: 12.2%;
  text-align: center;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 0.7px;
  border-color: #7d97b8;
}

.skill h1 {
  color: #ffffff;
  font-size: 4rem;
  -webkit-text-stroke: 1px #7d97b8;
  margin-block-start: 0;
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}

.mid-message strong {
  color: rgb(29, 29, 31);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: #fff000;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  opacity: 1;
  transition: 0.5s;
}

.before-load .loading {
  opacity: 1;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }

  75% {
    stroke-dashoffset: -147;
  }

  100% {
    stroke-dashoffset: -157;
  }
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}

.loading-circle circle {
  stroke: #000000;
  stroke-width: 4;
  /* getTotalLength()로 stroke의 길이를 얻어올 수 있음*/
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
}

.loading-circle:hover circle {
  stroke-dashoffset: -157;
}

/** description animation */
#flip {
  height: 80px;
  overflow: hidden;
}

#flip > div > div {
  color: #000000;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
  font-size: 3rem;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

/* #flip div div {
  background: #42c58a;
}
#flip div:first-child div {
  background: #4ec7f3;
}
#flip div:last-child div {
  background: #dc143c;
} */

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -140px;
  }
  33% {
    margin-top: -140px;
  }
  38% {
    margin-top: -70px;
  }
  66% {
    margin-top: -70px;
  }
  71% {
    margin-top: -3px;
  }
  99.99% {
    margin-top: -3px;
  }
  100% {
    margin-top: -270px;
  }
}

.content h3 {
  color: #fff;
  font-size: 8em;
  width: 100%;
  position: absolute;
}

.content h3:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px rgba(125, 151, 184, 0.99);
}

.content h3:nth-child(2) {
  color: rgba(125, 151, 184, 0.59);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 40%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.title {
  font-size: 5rem;
  color: #ffffff;
  -webkit-text-stroke: 1.5px #7d97b8;
}

.shadow {
  text-shadow: 10px 8px 0px rgba(125, 151, 184, 0.99);
}

.stripe {
  color: #ffffff;
  font-size: 5rem;
  -webkit-text-stroke: 1.5px #7d97b8;
  line-height: 1;
  position: relative;
  display: block;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}

.stripe:after {
  height: 20vh;
  content: "in my career";
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
  display: block;
  color: #7d97b8;
  opacity: 0.7;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 2s ease-out width;
}

.stripe:hover:after {
  width: 100%;
}

.careerContents {
  margin-top: 1rem;
  padding: 8rem 8rem 20rem;
  display: flex;
  flex-direction: column;
}

.box-wrapper {
  width: 100%;
  display: inline-block;
}

#box {
  width: 40vw;
  border-style: solid;
  border-width: 0.7px;
  border-color: #7d97b8;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem 0;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  float: right;
}

#box:hover {
  box-shadow: 10px 14px 0 rgba(125, 151, 184, 0.99),
    10px 10px 0 rgba(125, 151, 184, 0.99);
  transform: translateY(-10px);
}

#box * {
  padding: 10px;
}

#box .heading {
  font-size: 3vh;
}

#box .data {
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  color: #666;
}

#box .data span {
  padding: 0;
}

#box .data .date {
  margin-bottom: 2px;
}

#box .texts {
  font-size: 1.7vh;
  line-height: 18px;
}
/** /description animation */

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }

  .main-message {
    font-size: 4vw;
  }

  .description {
    font-size: 2rem;
  }

  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }

  .main-message small {
    font-size: 1.5vw;
  }

  .desc-messae {
    width: 20%;
  }

  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }

  #scroll-section-2 .c {
    left: 55%;
  }

  .mid-message {
    font-size: 4vw;
  }

  .canvas-caption {
    font-size: 2rem;
  }
}
